<div class="infobar">
    <ul>
        <li><a href="WARRANTY">Accessories</a></li>
        <li><a href="POLICY">Cooling Fan</a></li>
        <li><a href="PAYMENT INFO">Gamepad</a></li>
        <li><a href="SHIPPING">Headset</a></li>
        <li><a href="RETURN US">Keyboard</a></li>
        <!-- Add more categories as needed -->
    </ul>
</div>